/*BODY STYLING*/

body {
	background-image: url("https://cdn.pixabay.com/photo/2017/04/07/17/18/pen-2211444_1280.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h1 {
	font-family: 'Permanent Marker';
	font-size: 30px;
}

/*POSITIONING*/

#wrapper {
	padding-left: 170px;
}

.sitename {
	text-align: center;
	font-family: 'Permanent Marker';
	font-size: 50px;
}

/*INPUT BOX STYLING*/

input {
	box-shadow: 1px 2px 3px 1px
}

#textarea {
  width: 300px;
  height: 150px;
}
